{{> head }}


{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Fotografía</h1>
        <p>Descripcion</p>
    </div>
    <div class="col-2">
        <img src="assets/img/foto.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}


</html>